@model ContractsDiscovery.Web.App_Data.CreateCallOption

<ol class="breadcrumb zen-breadcrumbs">
  <li><a href="/">Contract Templates</a></li>
  <li class="active">Vanilla Call Option</li>
</ol>

<h2>Create Call Option</h2>
<br>

<div class="row call-option-page">
  <div class="col-md-7">


    @using (@Html.BeginForm("CallOption", "ContractCreation", FormMethod.Post, new { @class = "form-horizontal"}))
    {

        <div class="form-group">
    	    <label for="numeraire" class="col-sm-3 control-label">Name</label>
    	    <div class="col-sm-9">
                <input type="text" required="true" class="form-control" id="assetName" name="assetName" placeholder="Asset Name"/>
    		</div>
        </div>

        <div class="form-group">
    		<label for="numeraire" class="col-sm-3 control-label">Numeraire</label>
            <div class="col-sm-9">
    		    <input readonly type="text" required="true" class="form-control" id="numeraire" name="numeraire" placeholder="Numeraire" value="@Model.Numeraire.Value"/>
    			@if (@Model.Numeraire.Invalid)
    			{
    				<p class="text-left form-text text-muted explainer-text">Invalid input</p>
    			}
    			<p class="text-left form-text text-muted explainer-text">Commodity or good in terms of which all other prices are expressed. Default is Zen.</p>
    		</div>
        </div>

        <div class="form-group">
    		<label for="oracle" class="col-sm-3 control-label">Oracle</label>
    	    <div class="col-sm-9">
    	        <input readonly type="text" required="true" class="form-control" id="oracle" name="oracle" placeholder="Oracle Address" value="@Model.Oracle.Value"/>
                <p class="text-left form-text text-muted explainer-text">This is an <a href='/Oracle' target='_blank'>Oracle</a> provided by Zen for the testnet.</p>
                @if (!string.IsNullOrEmpty(Model.OracleErrorMessage))
                {
        		<p class="text-left form-text text-muted explainer-text">Error: @Model.OracleErrorMessage</p>
    	        }
    		    @if (@Model.Oracle.Invalid)
    	        {
    	            <p class="text-left form-text text-muted explainer-text">Invalid input</p>
    	        }
    		</div>
        </div>

        <div class="form-group">
    		<label for="underlying" class="col-sm-3 control-label">Underlying</label>
            <div class="col-sm-9">
    		    <select class="form-control" id="underlying" name="underlying" placeholder="Underlying">
    	        @foreach (var item in Model.Tickers)
    	        {
    			    <option>@item</option>
    			}
    		    </select>

    	    	@if (@Model.Underlying.Invalid)
    	        {
    	            <p class="text-left form-text text-muted explainer-text">Invalid input</p>
                }
        		<p class="text-left form-text text-muted explainer-text">The underlying asset is the underlying ticker of the Call Option.</p>
            </div>
       </div>

        <div class="form-group">
        	<label for="price" class="col-sm-3 control-label">Premium</label>
            <div class="col-sm-9">
    			<input type="number" step="any" min="0" required="true" class="form-control" id="price" name="price" placeholder="Premium" value="@Model.Price.Value"/>
    	        <p class="text-left form-text text-muted explainer-text">Premium is the price for the purchase of a single Call Option.</p>
    		    @if (@Model.Price.Invalid)
    	        {
    	            <p class="text-left form-text text-muted explainer-text">Invalid input</p>
    	        }
            </div>
        </div>

        <div class="form-group">
            <label for="strike" class="col-sm-3 control-label">Strike</label>
            <div class="col-sm-9">
    	        <input type="number" step="any" min="0" required="true" class="form-control" id="strike" name="strike" placeholder="Strike" value="@Model.Strike.Value"/>
                <p class="text-left form-text text-muted explainer-text">The price at which the Call Option can be exercised.</p>
    	        @if (@Model.Strike.Invalid)
    	        {
    	            <p class="text-left form-text text-muted explainer-text">Invalid input</p>
    	        }
            </div>
       </div>

        <div class="form-group" style="display:none;">
    		<label for="minimumCollateralRatio" class="col-sm-3 control-label">Minimum Collateral Ratio</label>
            <div class="col-sm-9">
    	        <input type="number" step="any" min="0" required="true" class="form-control" id="minimumCollateralRatio" name="minimumCollateralRatio" placeholder="Minimum Collateral Ratio" value="@Model.MinimumCollateralRatio.Value"/>
    		    @if (@Model.MinimumCollateralRatio.Invalid)
    	        {
    	            <p class="text-left form-text text-muted explainer-text">Invalid input</p>
    	        }
    	    </div>
        </div>

        <div class="form-group">
    		<label for="ownerPubKey" class="col-sm-3 control-label">Owner&nbsp;PubKey</label>
            <div class="col-sm-9">
    	        <input type="text" required="true" class="form-control" id="ownerPubKey" name="ownerPubKey" placeholder="Owner PubKey" value="@Model.OwnerPubKey.Value"/>
    		    @if (@Model.OwnerPubKey.Invalid)
    	        {
    	            <p class="text-left form-text text-muted explainer-text">Invalid input</p>
    	        }
                <p class="text-left form-text text-muted explainer-text">Please copy a public-key from your wallet here (Click the "Copy Public Key" button in the "Wallet" tab).</p>
            </div>
        </div>

        <div class="row">
          <div class="col-sm-3">
          </div>
          <div class="col-sm-9">
            <hr class="form-button-seperator" />
            <input type="submit" class="zen-button zen-grey-button float-right" value="Create" />
          </div>
        </div>

    }


  </div>
  <div class="col-md-5"></div>
</div>
