@model ContractsDiscovery.Web.App_Data.CreateCallOption

@using (@Html.BeginForm("CallOption", "ContractCreation", FormMethod.Post))
{
    <div class="form-group">
		<label for="numeraire">Numeraire</label>
        <input type="text" required="true" class="form-control" id="numeraire" name="numeraire" placeholder="Numeraire" value="@Model.Numeraire.Value"/>
		@if (@Model.Numeraire.Invalid)
		{
			<small class="form-text text-muted">Invalid input</small>
		}
    </div>

    <div class="form-group">
		<label for="controlAsset">Control Asset</label>
        <input type="text" required="true" class="form-control" id="controlAsset" name="controlAsset" placeholder="Control Asset" value="@Model.ControlAsset.Value"/>
        @if (@Model.ControlAsset.Invalid)
        {
            <small class="form-text text-muted">Invalid input</small>
        }
    </div>

    <div class="form-group">
		<label for="oracle">Oracle</label>
        <input type="text" required="true" class="form-control" id="oracle" name="oracle" placeholder="Oracle" value="@Model.Oracle.Value"/>
        @if (@Model.Oracle.Invalid)
        {
            <small class="form-text text-muted">Invalid input</small>
        }
    </div>

    <div class="form-group">
		<label for="controlAssetReturn">Control Asset Return</label>
        <input type="text" required="true" class="form-control" id="controlAssetReturn" name="controlAssetReturn" placeholder="Control Asset Return" value="@Model.ControlAssetReturn.Value"/>
        @if (@Model.ControlAssetReturn.Invalid)
        {
            <small class="form-text text-muted">Invalid input</small>
        }
    </div>

    <div class="form-group">
		<label for="underlying">Underlying</label>
        <input type="text" required="true" class="form-control" id="underlying" name="underlying" placeholder="Underlying" value="@Model.Underlying.Value"/>
        @if (@Model.Underlying.Invalid)
        {
            <small class="form-text text-muted">Invalid input</small>
        }
    </div>

    <div class="form-group">
    	<label for="price">Price</label>
		<input type="number" required="true" class="form-control" id="price" name="price" placeholder="Price" value="@Model.Price.Value"/>
        @if (@Model.Price.Invalid)
        {
            <small class="form-text text-muted">Invalid input</small>
        }
    </div>

    <div class="form-group">
        <label for="strike">Strike</label>
        <input type="number" required="true" class="form-control" id="strike" name="strike" placeholder="Strike" value="@Model.Strike.Value"/>
        @if (@Model.Strike.Invalid)
        {
            <small class="form-text text-muted">Invalid input</small>
        }
    </div>

  
    <div class="form-group">
		<label for="minimumCollateralRatio">Minimum Collateral Ratio</label>
        <input type="number" required="true" class="form-control" id="minimumCollateralRatio" name="minimumCollateralRatio" placeholder="Minimum Collateral Ratio" value="@Model.MinimumCollateralRatio.Value"/>
	    @if (@Model.MinimumCollateralRatio.Invalid)
        {
            <small class="form-text text-muted">Invalid input</small>
        }
    </div>

    <div class="form-group">
		<label for="ownerPubKey">Owner PubKey</label>
        <input type="text" required="true" class="form-control" id="ownerPubKey" name="ownerPubKey" placeholder="Owner PubKey" value="@Model.OwnerPubKey.Value"/>
	    @if (@Model.OwnerPubKey.Invalid)
        {
            <small class="form-text text-muted">Invalid input</small>
        }
    </div>

    <input type="submit" value="Submit" />
}   